.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  // text-transform: uppercase;
  // box-shadow: 0 2px 0 #ccc;
  transition: 0.22s ease;
  margin-top: 0 !important;
  background: #000;
  color: #fff;
  border-radius: 0;
}

.modal-header .close {
  outline: none;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover,
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:focus {
  background: #fff;
  color: #000;
}
