.content-info {
  height: 372px;

  .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__content--top {
    background: #f2f2f2;
    height: 292px;
    display: flex;
    align-items: center;
  }

  .footer__content--btm {
    background: #1d1d1d;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .footer__content--copyright {
    font-weight: bold;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 0.9rem;
  }

  .footer__content--btmLanguagTxt {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    line-height: 24px;
    margin: 0 1rem 0 0;
  }

  .footer__content--btmLanguageSelect {
    background: #2e2e2e;
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0 0 0 11px;
    color: #aaa;

    img {
      position: relative;
      bottom: 2px;
      right: 2px;
    }
  }

  .social-list {
    display: inline-flex;
    padding: 0 !important;
  }

  .social-list li a svg {
    fill: #898989;
  }

  .social-list li a:hover svg {
    fill: #be817b;
  }
}

.footer__form--signup {
  label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.signup {
  width: 255px;
  height: 56px;
  text-indent: 1rem;
  color: #333;
  outline: none;
  border: none;
  box-shadow: 0 2px 0 #e6e6e6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.footer__signUp--btn {
  width: 120px;
  height: 56px;
  outline: none;
  border: none;
  background: #333;
  color: #fff;
  padding: 0 1.34rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: 0 2px 0 #000;
  position: relative;
  top: -2px;
  right: 1px;
}

::placeholder {
  text-transform: uppercase;
  color: #ccc;
  font-size: 13px;
}
