.content-info {
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer__content--top {
    background: #f2f2f2;
    height: 200px;
    display: flex;
    align-items: center;

    label {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
    }

    .footer__content--footer-top-list {
      display: flex;
      list-style: none;
      padding: 0;

      li {
        padding: 0 12px 0 0;
      }
    }
  }

  .footer__content--btm {
    background: #1d1d1d;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .footer-content--btmLeft {
      .logo {
        line-height: 0;
      }
    }
  }

  .footer__content--copyright {
    font-weight: bold;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 0.9rem;
  }

  .footer__content--btmLanguagTxt {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    line-height: 24px;
    margin: 0 1rem 0 0;
  }

  .footer__content--btmLanguageSelect {
    background: #2e2e2e;
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0 0 0 11px;
    color: #aaa;

    img {
      position: relative;
      bottom: 2px;
      right: 2px;
    }
  }

  .social-list {
    display: inline-flex;
    padding: 0 !important;
  }

  .social-list li a svg {
    fill: #898989;
  }

  .social-list li a:hover svg {
    fill: #be817b;
  }
}

.footer__form--signup {
  position: relative;
}

.signup {
  width: 200px;
  height: 50px;
  text-indent: 1rem;
  color: #333;
  outline: none;
  border: none;
}

.footer__signUp--btn {
  height: 50px;
  outline: none;
  border: none;
  background: #333;
  color: #fff;
  padding: 0 1.34rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  top: 27px;
  right: -110px;
}

::placeholder {
  text-transform: uppercase;
  color: #ccc;
  font-size: 13px;
}

@media (max-width: 545px) {
  .content-info {
    .container-fluid {
      display: initial;
    }

    .footer-content--btmLeft,
    .footer-content--center,
    .footer-content--btmRight {
      margin: 0 0 4rem 0;
    }
  }

  .signup {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .footer__signUp--btn {
    width: 100%;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer__content--top {
    height: initial !important;
    padding: 5rem 2rem;
  }

  .footer__content--btm {
    height: initial !important;
    padding: 2rem;
  }
}
