.username,
.cta-link-text,
.content a {
  font-weight: bold;
  color: #af5858;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(204, 92, 97, 0.35) calc(50% - 9px), rgba(204, 92, 97, 0.35) 100%);
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
}

.username:hover,
.cta-link-text:hover,
.content a:hover {
  color: #af5858;
  text-decoration: none;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(204, 92, 97, 0.35) calc(50% - 9px), rgba(204, 92, 97, 0.35) 100%);
  background-position: 0 100%;
}

.navbar {
  padding: 0.02rem 0;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  transition: 0.22s ease-in-out !important;
}

.not-transparent {
  background: rgba(255, 255, 255, 1) !important;
}

.nav__LoggedIn--user {
  position: relative;
  right: -2rem;
  top: -1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  .username {
    color: #af5858;
    position: relative;
    left: 6px;
    text-decoration: none;
  }
}
