.username,
.cta-link-text,
.content a {
  font-weight: bold;
  color: #af5858;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(204, 92, 97, 0.35) calc(50% - 9px), rgba(204, 92, 97, 0.35) 100%);
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
}

.username:hover,
.cta-link-text:hover,
.content a:hover {
  color: #af5858;
  text-decoration: none;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(204, 92, 97, 0.35) calc(50% - 9px), rgba(204, 92, 97, 0.35) 100%);
  background-position: 0 100%;
}

.navbar {
  padding: 0.02rem 0;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .nav li:not(:last-child) a {
  transition: 0.12s ease-in-out;

  &:hover {
    color: #a2281d;
  }
}

.banner {
  transition: 0.22s ease-in-out !important;
  background: rgb(0, 0, 0);
}

.not-transparent {
  background: rgba(255, 255, 255, 1) !important;
}

.pop {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% { transform: scale(1.2); }
}

.nav__LoggedIn--user {
  position: relative;
  right: -2rem;
  top: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  color: #fff;

  .username {
    color: #af5858;
    position: relative;
    left: 6px;
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .nav {
    padding-left: 0;
  }
}

@media (max-width: 545px) {
  .banner {
    padding: 1rem;
  }

  .cart-total {
    left: 12px;
    bottom: 34px;
  }
}
