// Woocommerce Homepage 4 Column
.woocommerce.columns-3 {
  padding: 0 18rem;
}

.woocommerce-loop-product__title {
  font-weight: 100 !important;
  font-size: 1rem !important;
  line-height: 18px;
  font-family: "DopeJam", sans-serif;
  color: #000;
}

.artist-name {
  color: #727272;
  font-size: 1.3rem;
  font-weight: bold;
}

.artist-release {
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  font-size: 1rem !important;
  font-weight: initial !important;
  color: #3c3c3c !important;
  font-family: bio-sans, sans-serif;
}

.woocommerce ul.products li.product .onsale {
  text-transform: uppercase;
}

.woocommerce-result-count {
  font-weight: bold;
  text-transform: uppercase;
}

// Contact Page

@media (max-width: 545px) {
  .contact {
    .wp-block-column {
      padding: 0 2rem;
    }

    .wp-block-columns {
      width: initial !important;
    }

    .wpcf7-form {
      padding: 0;
    }
  }

  .single-product {
    .main {
      padding: 6rem 1rem !important;
    }
  }
}

.contact .wp-block-columns {
  width: 1100px;
  padding: 0 0 8rem 0;
}

.wpcf7-form label,
.wpcf7-form p {
  width: 100%;
}

.wpcf7-form-control {
  width: 100%;
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  text-indent: 10px;
  font-weight: bold;
  font-size: 15px;
  height: 42px;
}

.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  height: 120px;
  text-indent: 10px;
  font-weight: bold;
  font-size: 15px;
}

input.wpcf7-form-control.wpcf7-submit {
  background: #383838;
  color: #fff;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: bold;
}

.wpcf7-form {
  padding: 0 4rem;
}

.contact__form--right {
  padding: 1.3rem 0;
}

.woocommerce-account .woocommerce,
.cart .woocommerce,
.checkout .woocommerce {
  padding: 0 0 11rem 0;
  max-width: 1140px;
  margin: 0 auto;
}

.woocommerce span.onsale {
  background-color: #4ca29a;
}

.woocommerce-privacy-policy-text {
  p {
    font-family: "HelveticaNeueMed", sans-serif;
    color: #0c0c0c;
    line-height: 26px;
    padding: 1rem 0;
  }
}

.woocommerce-MyAccount-navigation ul {
  font-size: 1rem;
  list-style: none;
}

.ikr__cookie--policy {
  padding: 0 0 8rem;
}

.single-product .main {
  padding: 6rem 7rem;
}

time.updated,
p.byline.author.vcard {
  display: none;
}

.wp-block-columns .wp-block-column a {
  background-image: none;
}

.woocommerce .comments a,
.woocommerce .wc-tabs a,
.woocommerce .posted_in a,
.woocommerce .mejs-horizontal-volume-slider,
.woocommerce .woocommerce-MyAccount-content a,
.woocommerce .woocommerce-cart-form__cart-item a,
.woocommerce .woocommerce-info .showcoupon,
.woocommerce .place-order a,
.woocommerce .order_item a,
.woocommerce .about_paypal,
.woocommerce .shipping-calculator-button,
.woocommerce .about_paypal:hover,
.woocommerce .mejs-horizontal-volume-slider:hover {
  background-image: none;
}

.woocommerce .entry-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a,
.woocommerce .woocommerce-MyAccount-content ul li a {
  background-image: none;
  color: #333;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  background: none;
  font-weight: bold;
  padding: 0.7em;
}

// Product Page
.woocommerce-product-details__short-description p {
  padding: 0.5rem 0;
}

.woocommerce .quantity .qty {
  background: #eaeaea;
  border: none;
  padding: 0.34rem;
}

.woocommerce .button.alt {
  background: #333 !important;
}

.woocommerce .product .woocommerce-tabs .panel {
  padding: 2rem 0 !important;
}

nav.woocommerce-pagination {
  margin: 3rem 0;
}

.woocommerce nav.woocommerce-pagination {
  text-align: right;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #dedede;
  color: #6d6d6d;
}

.woocommerce .product .woocommerce-tabs .tabs li.active a {
  background-image: none;
}

// Cart Styles 
.woocommerce-cart {
  .woocommerce {
    margin: 2rem auto;

    .shop_table {
      border: none;
    }
  }
}

// Payment Received Styles

.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
  font-weight: bold;
  padding: 0 0 2rem 0;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  padding: 1rem 0 3rem;
}

.woocommerce table.shop_table {
  border: none;
}

.woocommerce .woocommerce-customer-details address {
  border: none;
}

// Remove Modal Styles //

.modal-header {
  border-bottom: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 5.75rem auto;
  }
}

@media (max-width: 575px) {
  .woocommerce-cart {
    .woocommerce {
      margin: 2rem 1rem;
    }
  }
}
