// Woocommerce Homepage 4 Column
.woocommerce.columns-3 {
  padding: 0 15rem !important;
}

.woocommerce-loop-product__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  line-height: 18px;
}

.artist-name {
  color: #727272;
  font-size: 1.3rem;
  font-weight: bold;
}

.artist-release {
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: #be817b !important;
}

.woocommerce ul.products li.product .onsale {
  text-transform: uppercase;
}

.woocommerce-result-count {
  font-weight: bold;
  text-transform: uppercase;
}

// Contact Page

.contact .wp-block-columns {
  width: 1100px;
  padding: 0 0 8rem 0;
}

.wpcf7-form label,
.wpcf7-form p {
  width: 100%;
}

.wpcf7-form-control {
  width: 100%;
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  text-indent: 10px;
  font-weight: bold;
  font-size: 15px;
  height: 42px;
}

.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  height: 120px;
  text-indent: 10px;
  font-weight: bold;
  font-size: 15px;
}

input.wpcf7-form-control.wpcf7-submit {
  background: #383838;
  color: #fff;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: bold;
}

.wpcf7-form {
  padding: 0 4rem;
}

.contact__form--right {
  padding: 1.3rem 0;
}

.woocommerce-account .woocommerce,
.cart .woocommerce,
.checkout .woocommerce {
  padding: 0 0 11rem 0;
  max-width: 1140px;
  margin: 0 auto;
}

.woocommerce-MyAccount-navigation ul {
  font-size: 1.4rem;
  list-style: none;
}

.ikr__cookie--policy {
  padding: 0 0 8rem;
}

.single-product .main {
  padding: 6rem 7rem;
}

time.updated,
p.byline.author.vcard {
  display: none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  background: none;
  font-weight: bold;
  padding: 0.7em;
}

// Product Page
.woocommerce-product-details__short-description p {
  padding: 0.5rem 0;
}

.woocommerce .quantity .qty {
  background: #eaeaea;
  border: none;
  padding: 0.34rem;
}

.woocommerce .button.alt {
  background: #333 !important;
}

.woocommerce .product .woocommerce-tabs .panel {
  padding: 2rem 1rem !important;
}

nav.woocommerce-pagination {
  margin: 3rem 0;
}

.woocommerce nav.woocommerce-pagination {
  text-align: right;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #dedede;
  color: #6d6d6d;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  background-image: none;
}

// Remove Modal Styles //

.modal-header {
  border-bottom: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 5.75rem auto;
  }
}

